---
---

@import "{{ site.theme }}";

.page-header,
.page-header h1,
.page-header h1 a,
.site-title,
.site-header a,
header h1 a {
  color: #24292e !important;
  text-decoration: none !important;
}

.page-header h1 a:hover,
.site-title:hover {
  color: #24292e !important;
  text-decoration: none !important;
}
